.input-class {
    width: 50px;
}
.input-number {
    width: 50px;
}
.input-subject {
    width: 200px;
}
.checkbox-assignment {
    transform: scale(1.4);
}

.select-search.select-search{
    width:auto
}

.select-search__input{
    border: 1px solid #ced4da !important;
}

.select-search__options{
    padding: 0 !important;
}

.select-school-year .select-search{
    width: 150px !important
}

.select-teacher .select-search{
    width: 250px !important
}

.select-class .select-search{
    width: 120px !important
}

.select-subject .select-search{
    width: 150px !important
}



.select-term .select-search{
    width: 150px !important
}